.cycles {
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.cycleDots {
    padding: 2px;
    display: flex;
    gap: 0.8rem;
}

.cycleDot {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.workTime {
    background-color: var(--warning);
}

.shortBreakTime {
    background: var(--primary);
}

.longBreakTime {
    background: var(--info);
}