.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerLink {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 1.2rem;
}

.footerLink:hover {
    text-decoration: underline;
    color: var(--text-muted);
    font-size: 1.2rem;
}